#feedback-page {
    background: #171f29;
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

h4 {
    margin: auto;
    padding: 20px;
    font-weight: bold;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.feedback-btn{
    border: none;
    background: transparent;
}

.feedback-img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

#good {
    width: 350px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}

.feedback-dropdown{
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 600;
}