#map-page {
    position: absolute;
    top: 100%;
    background: #171f29;
    width: 100%;
    min-height: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

#title {
    margin: 10px;
    color: #00bddc;
    font-weight: 600;
    font-size: 50pt;
 }

#location {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30pt;
}

#map-container {
    height: 100%;
    border: #00bddc solid;
}

#map-col {
    padding: 0;
}

#outline {
    position: absolute;
    width: 100%;
    height: 600px;
    border: #00bddc solid;
}

#data-container {
    margin: 40px auto;
}

h5 {
    font-weight: bold;
}

p {
    font-size: 50pt;
}

#total-num {
    color: #00bddc;
}

.occup {
    color: #ff1744;
}

.unoccup {
    color: #1de9b6;
}