#map-page {
    position: absolute;
    top: 100%;
    background: #171f29;
    width: 100%;
    min-height: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#title {
    margin: 10px;
    color: #00bddc;
    font-weight: 600;
    font-size: 50pt;
 }

#location {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30pt;
}

#seat-map {
    margin: 100px;
    position: absolute;
    left: 25%;
}